# Jenkins에서 등록해야할 KEY들
KAKAO_REST_API_KEY=
JWT_SECRET=
AI_CRYPTO_KEY_V1=
OPENAI_API_KEY=
VITE_KAKAO_JS_KEY=
CLOVA_OCR_INVOKE_URL=
CLOVA_OCR_SECRET=
PII_HMAC_KEY_V1=

DB_HOST=
DB_USERNAME=
DB_PASSWORD=